@use "../utils/utils" as utils;

.contact {
    background: white;
    @include utils.border-shadow(#ddd);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    padding: 4rem 3rem;
    max-width: 700px;
    margin: 3rem auto;
    &__title {
        text-align: center;
        font: 2rem;
        margin-bottom: 2rem;
        color: utils.$primary-color;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__label {
        font-size: utils.$spacing-md;
        font-weight: bold;
        text-align: left;
    }

    &__input,
    &__textarea {
        @include utils.border-shadow(#ccc);
        padding: 0.75rem;
        border-radius: 8px;
        font-size: 1rem;
        font-family: inherit;
        resize: vertical;

        &:focus {
            border-color: utils.$primary-color;
            @include utils.focus-outline(utils.$primary-color);
        }
    }

    .button {
        width: 100%;
        padding: 0.75rem;
    }
}