@use '../utils/utils' as utils;

.header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: utils.$secondary-color;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
