@use "../utils/utils" as utils;

.latest-projects {
    padding: utils.$spacing-xxl utils.$spacing-md;
    background-color: #f9f9f9;

    &__title {
        text-align: center;
        font-size: utils.$spacing-xl;
        margin-bottom: utils.$spacing-xxl;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: utils.$spacing-xl;
        max-width: utils.$max-width;
        margin: 0 auto;
    }
    &__more {
        margin-top: utils.$spacing-xl;
        text-align: center;

        .button{
            display: inline-block;
        }
    }
}

.project-card {
    background: white;
    @include utils.border-shadow(#ddd);
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInCard 0.6s forwards;
    animation-delay: 0.2s;
    padding-bottom: utils.$spacing-md;

    &:hover,
    &:focus-within {
        transform: translateY(-5px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    &__image {
        width: 100%;
        height: 320px;
        object-fit: cover;
    }

    &__title {
        font-size: 1.25rem;
        margin: utils.$spacing-md; 
    }

    &__description {
        flex-grow: 1;
        margin: 0 utils.$spacing-md;
    }

    .button {
        margin: utils.$spacing-md;
        align-self: start;
    }
}
@keyframes fadeInCard {
    to {
        opacity: 1;
        transform: translateX(10);
    }
}